
.wrapper
  .header
  .content
    .content__left
      .content__left--top
        .content__left--top--box
          .content__left--top--box--name
            = current_user.name
          .content__left--top--box--edit
            = link_to new_group_path do
              = fa_icon 'edit', class: "content__left--top--box--edit--editting"
              = link_to edit_user_path(current_user) do
                = fa_icon 'cog', class: "content__left--top--box--edit--cog"
      .content__left--groups
        - current_user.groups.each do |group|
          .content__left--groups--group
            = link_to group_messages_path(group) do
              .content__left--groups--group--name
                = group.name
              .content__left--groups--group--latestmessage
                = group.show_last_message
    .content__right
      .content__right--top
        .content__right--top--left
          .content__right--top--left--groupname
          = @group.name
          .content__right--top--left--username
            Member: 
            - @group.users.each do |user|
              = user.name
        .content__right--top--editbtn
          = link_to 'Edit', edit_group_path(@group)
      .messages
        = render @messages
      -# .content__right--low
      -#   .content__right--low--main
      -#     .content__right--low--main--upper
      -#       .content__right--low--main--upper--username
      -#         = current_user.name
      -#       .content__right--low--main--upper--date
      -#         2019/11/05(Tues)13:41:13
      -#     .content__right--low--main--message
      -#       初めまして
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'