.wrapper
  .content__left
    .content__left--top
      .content__left--top--box
        .content__left--top--box--name
          = current_user.name
        .content__left--top--box--edit
          = link_to new_group_path do
            = fa_icon 'edit', class: "content__left--top--box--edit--editting"
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: "content__left--top--box--edit--cog"
    .content__left--groups
      - current_user.groups.each do |group|
        .content__left--groups--group
          = link_to group_messages_path(group) do
            .content__left--groups--group--name
              = group.name
            .content__left--groups--group--latestmessage
              メッセージはありません。